<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-star-print" version="1.0.0">
    <name>Star Print</name>
    <description>Cordova Plugin for printing on star POS printers</description>
    <license>Apache 2.0</license>
    <keywords>cordova,star,print</keywords>

    <js-module src="www/starPrint.js" name="StarPrint">
        <clobbers target="cordova.plugins.StarPrint" />
    </js-module>
     <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="StarPrint">
                <param name="android-package" value="StarController"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>

        <source-file src="src/android/StarController.java" target-dir="src/org/apache/cordova/plugin" />
        <source-file src="src/android/StarPrinter.java" target-dir="src/org/apache/cordova/plugin" />
        <source-file src="src/android/PrinterFunctions.java" target-dir="src/org/apache/cordova/plugin" />
        <source-file src="src/android/RasterDocument.java" target-dir="src/org/apache/cordova/plugin" />
        <source-file src="src/android/StarBitmap.java" target-dir="src/org/apache/cordova/plugin" />
        <source-file src="src/android/StarIOPort3.1.jar" target-dir="libs" />
        <source-file src="src/android/starioextension.jar" target-dir="libs" />
    </platform>

    <platform name="ios">

         <config-file target="config.xml" parent="/*">
            <feature name="StarPrint">
                <param name="ios-package" value="StarPrint"/>
            </feature> 
        </config-file>

        <header-file src="src/ios/StarPrint.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/StarPrint.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/StarBitmap.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/StarBitmap.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/PrinterFunctions.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/PrinterFunctions.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/RasterDocument.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/RasterDocument.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/CommonEnum.h" compiler-flags="-fno-objc-arc"/>

        <framework src="src/ios/StarIO.framework" custom="true"/>
        <framework src="CoreBluetooth.framework"/>
        <framework src="ExternalAccessory.framework"/>
        <framework src="CoreGraphics.framework"/>
    </platform>
</plugin>